/* Style général */
body {
    background-color: darkcyan;
}

h1 {
    height: 10vh;
    padding: 20px;
    text-align: center;
}

.col {
    justify-content: center;
    display: flex;
}

/* Style du feu tricolore */
.feuTricolore {
    align-items: center;
    background-color: #2c3e50;
    border: 5px solid #151e27;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    padding: 25px;
    width: 140px;
}

/* Style de chacun des feux vides */
.cercle {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 85px;
    position: relative ;
    width: 85px;
}

/* Petit bonus que j'ai trouvé en ligne : élément d'esthétique de chaque feu */
.cercle::after {
    border-right: 4px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    content: "";
    height: 65px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
}